@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor-principal: #6e9f88;
    --cor-secundaria:  #67b165;
    --cor-destaque: #309b7e;
    --cor-fundo: #d8f6fab0;
}

.cabeçalho-imagem {
    height: 400px;
    width: 100%;
    object-fit: cover;
}
h1{
    text-align:center;}
h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

a:hover{
    color: var(--cor-destaque);
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
    background-color: var(--cor-fundo);


}
   
   

        /* Estilo de alto contraste */
        .alto-contraste {
            background-color: #000000;
            color: #ffffff;
         
        }
        /* Estilo do botão */
        .btn-alto-contraste {
            margin: 10px;
            position: fixed;
            top: 20px;
            right: 20px;
    }

    .alto-contraste .modal-texto, .modal-title{
        color:#000000
    }
    
     /* Botão de play puro CSS */
        .audio-minimal {
            position: fixed;
            top: 10px;
            left: 10px;
            width: 40px;
            height: 40px;
            background: rgba(255, 255, 255, 0.9);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            z-index: 1000;
            border: none;
        }
        
        /* Esconde o input checkbox */
        #play-toggle { display: none; }
        
        /* Altera o ícone quando o áudio está tocando */
        #play-toggle:checked ~ .audio-minimal i {
            display: none;
        }
        #play-toggle:checked ~ .audio-minimal::after {
            content: "\f28c"; /* Ícone de pause do Bootstrap Icons */
            font-family: "bootstrap-icons";
            color: #333;
            font-size: 1.2rem;
        }

  
